#Grid_view h1 {
    color: lightgreen;
}
body h1{
    color: purple;
}
body h3{
    color: blueviolet;
}
body h4{
    color: magenta;
}
body{
    text-align: center;
    background-color: #f08080;
    border: inset;
    border-color: yellow;
    color: purple;
    
}
img{
    width: 200px;
    height: 300px;
}
#Grid_view {
    width: 100%;
    height: 800px;
    background-color: lightyellow;
} 

.container {
    text-align: center;
    background-color: aqua;
}
.carousel-inner p{
    margin-top: 30px;
    margin-bottom: 30px;
    color: purple;
    font-size: 30px;
}
#myCarousel{
    background-color: magenta;
    text-align: center;
}
